CREATE TABLE room_exits (
room_id TEXT NOT NULL,
connect_id TEXT NOT NULL,
exit TEXT NOT NULL,
guessed INT NOT NULL,
PRIMARY KEY (room_id, connect_id)
);
CREATE TABLE items (
item_name TEXT NOT NULL DEFAULT '',
description TEXT NOT NULL DEFAULT '',
appraise_text TEXT NOT NULL DEFAULT '',
weight TEXT NOT NULL DEFAULT '',
dollar_value REAL NOT NULL DEFAULT '0.0',
searchable INTEGER NOT NULL DEFAULT '0',
special_find_note TEXT NOT NULL DEFAULT '',
PRIMARY KEY (item_name)
);
CREATE TABLE shop_items (
room_id TEXT NOT NULL DEFAULT '',
item_name TEXT NOT NULL DEFAULT '',
sale_price TEXT NOT NULL DEFAULT '',
PRIMARY KEY (room_id, item_name)
);
CREATE TABLE npc_items (
npc_id TEXT NOT NULL DEFAULT '',
item_name TEXT NOT NULL DEFAULT '',
sale_price TEXT NOT NULL DEFAULT '', special_note TEXT NOT NULL DEFAULT '',
PRIMARY KEY (npc_id, item_name)
);
CREATE TABLE rooms (
room_id TEXT NOT NULL,
map_id INTEGER NOT NULL,
xpos INTEGER NOT NULL,
ypos INTEGER NOT NULL,
room_short TEXT NOT NULL,
room_type TEXT NOT NULL,
PRIMARY KEY (room_id)
);
CREATE TABLE room_descriptions (room_hash TEXT NOT NULL DEFAULT '',room_id TEXT NOT NULL DEFAULT '',PRIMARY KEY (room_hash));
CREATE TABLE npc_info (
npc_id TEXT NOT NULL DEFAULT '',
map_id INTEGER NOT NULL DEFAULT '0',
npc_name TEXT NOT NULL DEFAULT '',
room_id TEXT NOT NULL DEFAULT '', 
PRIMARY KEY (npc_id)
);
CREATE TABLE user_data (
datid INTEGER NOT NULL DEFAULT '0',
rawdat TEXT NOT NULL DEFAULT '',
PRIMARY KEY (datid)
);
CREATE INDEX by_map ON rooms(map_id);
